---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

const allPosts = await getCollection("posts");
const categories: Record<
    string,
    { name: string; count: number; themecolor: string; subtitle: string }
> = {};
allPosts.forEach((post) => {
    {
        const category = post.data.cate.title;
        if (categories[category]) {
            {
                categories[category].count++;
            }
        } else {
            {
                categories[category] = {
                    count: 1,
                    name: post.data.cate.name,
                    themecolor: post.data.themecolor,
                    subtitle: post.data.cate.subtitle,
                };
            }
        }
    }
});
---

<DefaultLayout>
    <div class="flex flex-col min-h-screen bg-[#F9F9F9]">
        <main class="mb-auto">
            <div class="px-8 w-[32rem] md:w-[62.5rem] mx-auto">
                <div class="text-3xl font-semibold text-[#333] mt-6">
                    分类 📖
                </div>
                <div
                    class="grid grid-cols-2 md:grid-cols-3 grid-rows-3 md:grid-rows-2 gap-6 py-6"
                >
                    {
                        Object.entries(categories).map(
                            ([category, description]) => (
                                <a href={`/category/${description.name}`}>
                                    <div
                                        class={`from-${description.themecolor}-start to-${description.themecolor}-end rounded-2xl bg-gradient-to-r duration-300 hover:scale-95 aspect-square flex flex-col justify-between p-6`}
                                    >
                                        <div class="flex justify-between items-center">
                                            <div class="text-xl text-white font-normal">
                                                {category}
                                            </div>
                                            <div
                                                class={`text-${description.themecolor} rounded-full bg-white px-2 text-lg font-semibold`}
                                            >
                                                {description.count}
                                            </div>
                                        </div>
                                        <div class="text-6xl text-white opacity-25 font-bold">
                                            {description.subtitle}
                                        </div>
                                    </div>
                                </a>
                            ),
                        )
                    }
                </div>
            </div>
        </main>
    </div>
</DefaultLayout>
