---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
const tags = [
    {
        title: "# Figma",
        count: "2",
        color: "from-orange-start to-orange-end",
    },
    {
        title: "# UI设计",
        count: "3",
        color: "from-blue-start to-blue-end",
    },
    {
        title: "# 表格组件",
        count: "1",
        color: "from-yellow-start to-yellow-end",
    },
    {
        title: "# 实用技巧",
        count: "1",
        color: "from-green-start to-green-end",
    },
    {
        title: "# 设计分享",
        count: "1",
        color: "from-cyan-start to-cyan-end",
    },
    {
        title: "# 测试",
        count: "1",
        color: "from-purple-start to-purple-end",
    },
    {
        title: "# 视觉设计",
        count: "1",
        color: "from-purple-start to-purple-end",
    },
];
---

<DefaultLayout>
    <div class="flex flex-col min-h-screen bg-[#F9F9F9]">
        <main class="mb-auto">
            <div class="px-8 w-[32rem] md:w-[62.5rem] mx-auto">
                <div class="text-3xl font-semibold text-[#333] mt-6">
                    标签 ✨
                    <div
                        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 py-6"
                    >
                        <a href="/tags/Figma/">
                            <div
                                class=`rounded-full bg-gradient-to-r ${tags[0].color} duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4`
                            >
                                <div class="text-white text-lg">
                                    {tags[0].title}
                                </div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-orange font-semibold"
                                >
                                    {tags[0].count}
                                </div>
                            </div>
                        </a>
                        <a href="/tags/UI设计/">
                            <div
                                class=`rounded-full bg-gradient-to-r ${tags[1].color} duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4`
                            >
                                <div class="text-white text-lg">
                                    {tags[1].title}
                                </div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-blue font-semibold"
                                >
                                    {tags[1].count}
                                </div>
                            </div>
                        </a>
                        <a href="/tags/表格组件/">
                            <div
                                class=`rounded-full bg-gradient-to-r ${tags[2].color} duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4`
                            >
                                <div class="text-white text-lg">
                                    {tags[2].title}
                                </div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-yellow font-semibold"
                                >
                                    {tags[2].count}
                                </div>
                            </div>
                        </a>
                        <a href="/tags/实用技巧/">
                            <div
                                class=`rounded-full bg-gradient-to-r ${tags[3].color} duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4`
                            >
                                <div class="text-white text-lg">
                                    {tags[3].title}
                                </div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-green font-semibold"
                                >
                                    {tags[3].count}
                                </div>
                            </div>
                        </a>
                        <a href="/tags/设计分享/">
                            <div
                                class=`rounded-full bg-gradient-to-r ${tags[4].color} duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4`
                            >
                                <div class="text-white text-lg">
                                    {tags[4].title}
                                </div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-purple font-semibold"
                                >
                                    {tags[4].count}
                                </div>
                            </div>
                        </a>
                        <a href="/tags/测试/">
                            <div
                                class=`rounded-full bg-gradient-to-r ${tags[5].color} duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4`
                            >
                                <div class="text-white text-lg">
                                    {tags[5].title}
                                </div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-cyan font-semibold"
                                >
                                    {tags[5].count}
                                </div>
                            </div>
                        </a>
                        <a href="/tags/视觉设计/">
                            <div
                                class=`rounded-full bg-gradient-to-r ${tags[6].color} duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4`
                            >
                                <div class="text-white text-lg">
                                    {tags[6].title}
                                </div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-red font-semibold"
                                >
                                    {tags[6].count}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</DefaultLayout>
