---
import { getCollection } from "astro:content";
import DefaultLayout from "@layouts/DefaultLayout.astro";

const allPosts = await getCollection("posts");
// 生成动态标签
const tags: Record<string, { count: number; style: string; gradient: string }> =
    {};
allPosts.forEach((post) => {
    post.data.tags.forEach((tag) => {
        if (tags[tag]) {
            tags[tag].count++;
        } else {
            tags[tag] = {
                count: 1,
                style: post.data.cate.style,
                gradient: post.data.cate.gradient,
            };
        }
    });
});
---

<DefaultLayout>
    <div class="flex flex-col min-h-screen bg-[#F9F9F9]">
        <main class="mb-auto">
            <div class="px-8 w-[32rem] md:w-[62.5rem] mx-auto">
                <div class="text-3xl font-semibold text-[#333] mt-6">
                    标签 ✨
                    <div
                        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 py-6"
                    >
                        {
                            Object.entries(tags).map(
                                ([tag, { count, style, gradient }]) => (
                                    <a href={`/tags/${tag}`}>
                                        <div
                                            class={`${gradient} rounded-full bg-gradient-to-r duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4`}
                                        >
                                            <div class="text-white text-lg">
                                                {tag}
                                            </div>
                                            <div
                                                class={`rounded-full bg-white px-2 text-lg ${style} font-semibold`}
                                            >
                                                {count}
                                            </div>
                                        </div>
                                    </a>
                                ),
                            )
                        }
                    </div>
                </div>
            </div>
        </main>
    </div>
</DefaultLayout>
